<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>
    <div class="header">
        <button>My Scores</button>
        <button>Log Out</button>
    </div>
    <div class="center">
        <h1>Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Score</th>
                    <th>Likes</th>
                    <th>Attempt Date</th>
                    <th>Make a Comment</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button>Back to Shop</button>
    </div>
</body>
</html>