<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Feeding Time</title>
</head>
<body>
    <div class="header">
        <h1>Mocha Feeding Time</h1>
        <form>
            <input type="text" name="email" placeholder="Enter your email here">
            <input type="password" name="password" placeholder="password">
            <button>Login</button>
        </form>
    </div>
    <div class="body">
        <form>
            <label for="fname">First Name: </label>
            <input type="text" name="fname">
            <label for="lname">Last Name: </label>
            <input type="text" name="lname">
            <label for="birthday">Date of Birth: </label>
            <input type="date" name="birthday">
            <label for="email">Email: </label>
            <input type="text" name="email">
            <label for="password">Password: </label>
            <input type="password" name="password">
            <label for="cpassword">Confirm Password: </label>
            <input type="password" name="cpassword">
            <button>Register</button>
        </form>
        <div class="center_text">
            <p>Insert Text Here</p>
        </div>
    </div>
    <div class="bottom">
        <img src="" alt="pic1">
        <img src="" alt="pic2">
        <img src="" alt="pic3">
    </div>
</body>
</html>