<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Feeding Time!</title>
</head>
<body>
    <div>
        <h1>Mocha is hungry!</h1>
        <h3>Tap inventory food to feed!</h3>
    </div>
    <div>
        <img src="" alt="mocha">
    </div>
    <div>
        <button>End Feeding</button>
    </div>
    <div class="inventory">
        <h2>Inventory</h2>
        <h2>Gold</h2>
    </div>
</body>
</html>