<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Scores</title>
</head>
<body>
    <div class="header">
        <button>Leaderboard</button>
        <button>Log Out</button>
    </div>
    <div class="body">
        <div class="left">
            <h1>My Attempts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Attempt #</th>
                        <th>Score</th>
                        <th>Likes</th>
                        <th>Attempt Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="right">
            <h1>Comments</h1>
            <table>
                
            </table>
        </div>
    </div>
    <button>Back to Shop</button>
</body>
</html>