<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_score.css') }}">
    <title>My Scores</title>
</head>
<body>
    <div class="header">
        <h1>Welcome, {{session['user_name']}}!</h1>
        <div class="headerButtons">
            <a href="/leaderboard"><button class="btn btn-secondary">Leaderboard</button></a>
            <a href="/logout"><button class="btn btn-secondary">Log Out</button></a>
        </div>
    </div>
    <div class="body">
        <div class="left">
            <h1>Top 10 Attempts</h1>
            <table class="table table-dark table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>Best Attempts</th>
                        <th>Score</th>
                        <th>Attempt Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attempt in attempts %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{attempt['score']}}</td>
                        <td>{{attempt['updated_at']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="right">
            <h1>Latest Comments</h1>
            <table class="table table-light table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Commenter</th>
                        <th>Comment Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                    <tr>
                        <td>{{comment['comment']}}</td>
                        <td>-<a href="/score/{{comment['commenter_id']}}">{{comment['name']}}</a></td>
                        <td>{{comment['updated_at']}}</td>
                        <td>
                            <form action="/delete_comment" method="post">
                                <input type="hidden" name="id" value="{{comment['id']}}">
                                <button class="btn btn-danger">DELETE</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="shop">
        <a href="/shop_new"><button class="feed_btn btn fs-4">Start Next Feeding Session!</button></a>
    </div>
    
</body>
</html>