* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    background-color: antiquewhite;
    min-height: 600px;
    margin-bottom: 400px;
}
.header{
    width: 100%;
    margin: auto;
    padding: 5px 5%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin: 2%;
    display: flex;
    width: 40%;
    text-align: center;
    justify-content: flex-end;
}
.login_btn {
    padding: 0 10px;
    background-color: greenyellow;
}
.body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.center_text{
    width: 35%;
    align-self: center;
}
.center_text > p{
    text-align: center;
}
.errors{
    width:30%;
}
.register{
    width: 30%;
    background-color:lightblue;
    margin: 5px;
    padding: 20px;
    border-radius: 10%;
}
.form-btn{
    display: flex;
    justify-content: flex-end;
}
.bottom {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.bottom > img{
    margin: 1%;
}
#cover3{
    height: 400px;
}
#cover2{
    height: 300px;
}
#cover1{
    height: 200px;
}

