* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.header{
    width: 90%;
    margin: auto;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin: 2%;
    display: flex;
    width: 40%;
    text-align: center;
    justify-content: flex-end;
}
.body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.center_text{
    width: 30%;
    background-color: blueviolet;
}
.errors{
    width:25%;
    background-color: aqua;
}
.register{
    width: 25%;
    background-color: red;
}
.form-btn{
    display: flex;
    justify-content: flex-end;
}
.bottom {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: greenyellow;
}
.bottom > img{
    margin: 1%;
}
#cover3{
    height: 300px;
}
#cover2{
    height: 200px;
}
#cover1{
    height: 100px;
}

