* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    background-color: antiquewhite;
    min-height: 400px;
    margin-bottom: 400px;
}
.header{
    width: 100%;
    margin: auto;
    padding: 5px 5%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
}
.result_pic {
    height: 600px;
    border-radius: 50%;
    border: 10px solid yellowgreen;
    margin: 10px 0;
}