* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    background-color: antiquewhite;
    min-height: 400px;
    margin-bottom: 400px;
}
.header{
    width: 100%;
    margin: auto;
    padding: 5px 5%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shelf {
    margin: auto;
    padding: 20px 5%;
}
.row1, .row2 {
    display: flex;
    justify-content: space-around;
}
.row3 {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
.bottom {
    padding: 10px 5% 0 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 218, 61);
    text-align: center;
}
.shop_items {
    height: 150px;
}
.inventory_items {
    height: 60px;
    margin: 0 5px;
}
.inventory_title {
    margin: 0 5px;
}
figcaption {
    text-align: center;
}
figure > input {
    display: block;
    margin: auto;
}
.errors > p {
    text-align: center;
}
td {
    vertical-align: middle;
}
.play{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: grey;
}
.feed_btn {
    height: 70px;
    background-color: rgb(136, 226, 160);
}
